@import url('https://fonts.googleapis.com/css2?family=Zilla+Slab+Highlight:wght@400;700&display=swap');

.blog {
    max-width: 700px;
    margin: 0 auto;
    padding: 1rem;
    background-color: white;
}

.blog img {
    max-width: 600px;
}

.blog-post-title {
    font-family: "Zilla Slab Highlight";
}